<h1 class="stock-center">在庫一覧のページ</h1>
<div class="post-submit">
  <%= link_to "商品追加", new_post_path, class:"btn" %>
</div>

<div class="stock-categories">
    <h2>
      カテゴリー一覧
    </h2>
      カテゴリーから探す
</div>
<table>
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">数量</th>
      <th scope="col">カテゴリー</th>
      <th scope="col">賞味期限</th>
      <th scope="col">場所</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.name, edit_post_path(post.id), method: :get, class:"post-name" %></td>
        <td><%= post.quantity %></td>
        <td><%= post.category.name %></td>
        <td><%= post.best_before %></td>
        <td><%= post.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
