<div class="contents row">
  <div class="container-1">

    <h2>商品追加</h2>

    <%= form_with(model: @post, local: true, class: "new_user") do |form| %>

    <%= render "shared/error_messages", model: form.object %>

      <div class="field">
        <%= form.label "商品名" %><br />
        <%= form.text_field :name, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label "数量" %><br />
        <%= form.number_field :quantity, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label "カテゴリ" %><br />
        <%= form.collection_select(:category_id, Category.all, :id, :name, {}) %>
      </div>

      <div class="field">
        <%= form.label "賞味期限" %><br />
        <%= form.date_field :best_before, autofocus: true %>
      </div>

      <div class="field">
        <%= form.label "保管場所" %><br />
        <%= form.text_field :location, autofocus: true %>
      </div>
      
      <div class="field">
        <%= form.submit "投稿する" %>
      </div>

    <% end %>
  </div>
</div>