<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-name">
        <%= link_to "すとっく", root_path %>
      </div>
      <nav>
        <ul>
          <li><%= link_to "在庫一覧", posts_path %></li>
          <li><%= link_to "お買い物メモ", memos_path %></li>
          <li><%= link_to "発注", items_search_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to current_user.nickname, edit_user_path(current_user) %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
        <% end %>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © 2022 すとっく</p>
    </footer>
  </body>
</html>
