<!DOCTYPE html>
<html>
  <head>
    <title>Stock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="header-name">
        <a href="#">すとっく</a>
      </div>
      <nav>
        <ul>
          <li><a href="#">在庫一覧</a></li>
          <li><a href="#">お買い物メモ</a></li>
          <li><a href="#">発注</a></li>
        <% if user_signed_in? %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path, class: "post" %></li>
          <li><%= link_to "新規登録", new_user_registration_path, class: "post" %></li>
        <% end %>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © 2022 すとっく</p>
    </footer>
  </body>
</html>
